/* App.css */

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: radial-gradient(circle at 50% 10%, #ffeaf4 0%, #ffffff 80%);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

section {
  padding: 100px 20px;
}

html {
  scroll-behavior: smooth;
}
